<h1><%= @section.name %></h1>

<% @section.lessons.each do |lesson| %>
  <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
<% end %>

<hr />
<p><a href="/sections/<%= @section.id %>/edit"><button>Edit</button></a></p>

<p><a href="/sections/<%= @section.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow"><button>Delete</button></a></p>

<p><a href="/sections"><button type="click">Sections Menu</button></a></p>
