<h1> Edit <%= @lesson.name %> </h1>

<form action="/lessons/<%= @lesson.id %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Lesson Name</label>
  <input id="name" name="lessons[name]" value="<%= @lesson.name %>"><br>
  <label for="content">Lesson Content</label>
  <input id="content" name="lessons[content]" value="<%= @lesson.content %>"><br>
  <label for="lesson_number">Lesson Number</label>
  <input id="lesson_number" name="lessons[lesson_number]" value="<%= @lesson.lesson_number %>"><br>
  <button>Update Lesson</button>
</form>
