<h1><%= @lesson.name %></h1>
<hr />
<p><%= @lesson.content %></p>

<hr />
<p><a href="/lessons/<%= @lesson.id %>/edit"><button>Edit</button></a></p>

<p><a href="/lessons/<%= @lesson.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow"><button>Delete</button></a></p>


<% if @lesson.next %>
  <p><a href="/lessons/<%= @lesson.next %>"><button>Next Lesson</button></a></p>
<% end %>

<% if @lesson.prev %>
  <p><a href="/lessons/<%= @lesson.prev %>"><button>Previous Lesson</button></a></p>
<% end %>

<p><a href="/"><button type="click">Lessons Menu</button></a></p>
