<div class="jumbotron">
  <h1> Epicodus </h1>
  <h3> Welcome to the jungle!!! We've got fun and games!!! </h3>
  <h4> Don't forget your sunscreen! </h4>
</div>
<h2> Lessons: </h2>
<ul>
  <% @lessons.each do |lesson| %>
    <li><%= lesson.name %></li>
  <% end %>
</ul>

<% if @lesson.errors.any? %>
  <br />
  <h3>Please fix these errors:</h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <br />
<% end %>

<form action="/" method="post">
  <label for="name">Lesson Name</label>
  <input id="name" name="lessons[name]" value="<%= @lesson.name %>"><br>
  <label for="content">Lesson Content</label>
  <input id="content" name="lessons[content]" value="<%= @lesson.content %>"><br>
  <label for="lesson_number">Lesson Number</label>
  <input id="lesson_number" name="lessons[lesson_number]" value="<%= @lesson.lesson_number %>"><br>
  <button>Add Lesson</button>
</form>
